POSTGRES_USER=cencosud
POSTGRES_PASSWORD=supersecret
POSTGRES_DB=cencosud_news
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

AUTH_SERVICE_PORT=23002
NEWS_SERVICE_PORT=23001

JWT_SECRET_KEY=change-this-to-a-secure-secret-key-at-least-32-characters
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=1440