# Database
DISPATCH_DB_HOST=postgres
DISPATCH_DB_PORT=5432
DISPATCH_DB_USER=distroviz
DISPATCH_DB_PASSWORD=secretpassword
DISPATCH_DB_NAME=distroviz

# Redis
DISPATCH_REDIS_HOST=redis
DISPATCH_REDIS_PORT=6379

# Application
DISPATCH_API_PORT=23001
POSTGRES_PORT=25432
REDIS_PORT=26379
NODE_ENV=production